<link rel="stylesheet" type="text/css" href="/components/index-blocks/style.css" />

	<div class="b-index-blocks">
		<a href="" class="b-index-blocks__item i-size_2x1 i-bg_dealer i-column_1 i-row_1 i-align_left">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Партнерская диллерская сеть</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/dealer.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_1x2 i-bg_news i-column_3 i-row_1">
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__icon b-news-icon"></span>
				<span class="b-index-blocks__item__heading">21-я специализированная выставка "Строительство"</span>
				<span class="b-p">С 1 ноября 2012 произошли изменения в весе нетто и таре фасуемой продукции. Мы модернизировали производство и установили полностью автоматизированную линию фасовки битумных мастик!</span>
				<span class="b-date">12 ноября 2012 </span>
			</span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_2x1 i-column_4 i-row_1">
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__icon b-phone-icon"></span>
				<span class="b-phone">(495) 961 80 46</span>
				Понедельник — Пятница с 10:00 до 17:00
			</span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_2x1 i-bg_outside i-column_1 i-row_2 i-align_right">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Наружная гидроизоляция</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/outside.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_2x1 i-bg_roof i-column_4 i-row_2 i-align_left">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Гидроизоляция кровли</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/roof.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<h1 class="b-index-blocks__item i-size_2x1 i-column_1 i-row_3">
			<a href="" class="b-index-blocks__item__content">
				Битумная мастика: гидроизоляционная, полимерная, эмульсионная. Надежная гидроизоляция — разумная цена.
			</a>
		</h1>
		
		<a href="" class="b-index-blocks__item i-size_1x2 i-bg_inside i-column_3 i-row_3 i-align_top">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Внутреняя гидроизоляция</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/inside.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_1x2 i-bg_corrosion i-column_4 i-row_3 i-align_bottom">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/corrosion.jpg" width="210" height="201" alt=""></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Защита от коррозии</span>
			</span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_1x2 i-column_5 i-row_3">
			<span class="b-index-blocks__item__content">Гидроизоляционная мастика, использующаяся в процессе возведения зданий и сооружений, незаменима при проведении кровельных и отделочных работ. Ее задача — надежно защитить поверхности от разрушительного воздействия влаги, предотвратить деформацию конструкций и коррозийные процессы. Благодаря гидроизоляционной мастике образуется водонепроницаемая пленка с высокой степенью влагонепроницаемости, сохраняющейся в течение длительного времени.</span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_2x2 i-bg_road i-column_1 i-row_4 i-align_left">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Дорожные материалы</span>
				<span class="b-p">Еще одно направление деятельности компании — разработка и производство материалов для дорожной разметки: термопластика на основе нефтеполимерных смол, акриловой дорожной краски, противоскользящих покрытий, холодного пластика на базе акрила.</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/road.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_3x1 i-bg_delivery i-column_3 i-row_5 i-align_right">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Доставка</span>
				<span class="b-p">Бесплатная доставка<br />от 70 000 руб.</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/delivery.jpg" width="420" height="226" alt=""></span>
		</a>
		
		<a href="" class="b-index-blocks__item i-size_2x1 i-bg_lacquer i-column_1 i-row_6 i-align_right">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Лакокрасочные материалы</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/lacquer.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<span class="b-index-blocks__item i-size_1x1 i-bg_news i-column_3 i-row_6">
			<span class="b-index-blocks__item__content">
				Битумно-полимерные мастики применяются в строительной отрасли более полувека, но на настоящий момент компания «Грида» является одним из немногих отечественных производителей битумно-полимерной мастики. 
			</span>
		</span>
		
		<a href="" class="b-index-blocks__item i-size_2x1 i-bg_mebis i-column_4 i-row_6 i-align_right">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				Битумно-полимерная мастика «МЭБИС» отличается отсутствием в своем составе органических растворителей, вследствие чего отсутствуют вредные и огнеопасные испарения. 
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/mebis.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<span class="b-index-blocks__item i-size_1x1 i-bg_discount i-column_1 i-row_7">
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__icon b-discount-icon"></span>
				<em>При приобретении больших партий товара возможны скидки.</em>
			</span>
		</span>
		
		<span class="b-index-blocks__item i-size_1x1 i-bg_discount i-column_2 i-row_7">
			<span class="b-index-blocks__item__content">
				* Цены на продукцию ООО «Грида» определяются превосходным качеством сырья, использованием современного высокотехнологичного оборудования, стоимостью труда квалифицированного персонала.
			</span>
		</span>
		
		<a href="" class="b-index-blocks__item i-size_2x1 i-bg_bitum i-column_3 i-row_7 i-align_right">
			<span class="b-index-blocks__item__pointer"><span class="b-index-blocks__item__pointer__arrow"></span></span>
			<span class="b-index-blocks__item__content">
				<span class="b-index-blocks__item__heading">Битумный герметик Грида</span>
				<span class="b-p">Эластичный герметик на основе нестареющей уплотняющей массы из модифицированного битума.</span>
			</span>
			<span class="b-index-blocks__item__image"><img src="/upload/index-blocks/bitum.jpg" width="210" height="201" alt=""></span>
		</a>
		
		<span class="b-index-blocks__item i-size_1x1 i-bg_news i-column_5 i-row_7">
			<span class="b-index-blocks__item__content">
				При соблюдении герметичности и температурного режима битумно-полимерные мастики сохраняются 
до 7 лет.
			</span>
		</span>

	</div>
	
	<div class="b-grid b-index-blocks-grid">
		<div class="b-grid__column b-grid__column__size_2">
			<div class="b-index-blocks__item__content">
				<h2>Битумная мастика: назначение и типы</h2>
				<p>Битумная мастика необходима для гидроизоляции строительных конструкций и дорожных покрытий. Она представляет собой искусственный микс нефтяных битумов и наполнителей, предназначенных для повышения теплостойкости и снижения хрупкости состава.</p>
				<p>В зависимости от связующих элементов, входящих в смесь, битумные мастики подразделяются на несколько типов, отличающихся свойствами и ценой:</p>
				<ul>
					<li>битумные (дешевые, наименее долговечные);</li>
					<li>безинобитумные;</li>
					<li>битумно-эмульсионные;</li>
					<li>битумно-полимерные (дорогие, наиболее долговечные).</li>
				</ul>
	
				<p>Мастики классифицируются и по назначению:</p>
				<ul>
					<li>приклеивающие (для монтажа рулонных материалов);</li>
					<li>гидроизоляционные (в т. ч. для кровли); </li>
					<li>асфальтовые;</li>
					<li>антикоррозийные (обмазочные).</li>
				</ul>
			</div>
		</div>
		<div class="b-grid__column b-grid__column__size_2 b-grid__column__side_right">
			<div class="b-index-blocks__item__content">
				<p>Надежный гидроизоляционный слой из битумной мастики обезопасит Ваше здание от дальнейшего разрушения фундамента, протечек кровли и подвала.</p>
	
				<p>В ассортименте битумных мастик нашего производства присутствует линейка продуктов для внутренней гидроизоляции, как для промышленной, так и для частной застроек.</p>
	
				<p>Битумная мастика для внутренней гидроизоляции не имеет запаха, быстро сохнет и очень удобна в применение. Наша компания является производителем битумной мастики и мы гарантируем качество приобретаемой у нас продукции!</p>
			</div>
		</div>
	</div>