<link rel="stylesheet" type="text/css" href="/components/production.product/style.css" />

<div class="b-product">
	
	<div class="b-product__info b-grid">
		<div class="b-grid__column b-grid__column__size_4">
			<h2 class="b-product__heading">Грида Flächendicht (Флэхендихт) – для внутренней гидроизоляции строительных конструкций</h2>
			<div class="b-grid">
				<div class="b-grid__column b-product__info__package b-package">
					<div class="b-package__item">
						<div class="b-package__item__type i-package-S"></div>
						<div class="b-package__item__info">
							<div class="b-package__item__num">Рулон 10х1 м</div>
							<div class="b-package__item__order">
								<a href="">Заказать</a>
							</div>
						</div>
						<div class="i-clearfix"></div>
					</div>
					
					<div class="b-package__item">
						<div class="b-package__item__type i-package-M"></div>
						<div class="b-package__item__info">
							<div class="b-package__item__num">10 л</div>
							<div class="b-package__item__order">
								<a href="">Заказать</a>
							</div>
						</div>
						<div class="i-clearfix"></div>
					</div>
					
					<div class="b-package__item">
						<div class="b-package__item__type i-package-L"></div>
						<div class="b-package__item__info">
							<div class="b-package__item__num">30 л</div>
							<div class="b-package__item__order">
								<a href="">Заказать</a>
							</div>
						</div>
						<div class="i-clearfix"></div>
					</div>
				</div>
				<div class="b-grid__column b-grid__column__size_3">
					<img src="/upload/production/1.jpg" width="610" height="440" alt="" />
				</div>
			</div>
		</div>
		<div class="b-grid__column b-product__info__files" style="background-color: #6fb8cd;">
			<ul class="b-product__info__files__docs b-docs">
				<li class="b-docs__item">
					<div class="b-docs__item__title">ТУ</div>
					<div class="b-docs__item__num">5775-012-42788835-2002</div>
				</li>
				<li class="b-docs__item">
					<div class="b-docs__item__title">СЭЗ</div>
					<div class="b-docs__item__num">77.01.03.577.П.022336.03.07dsadasdasdasdsdsad от 30.03.07г.</div>
				</li>
				<li class="b-docs__item">
					<div class="b-docs__item__title">СС</div>
					<div class="b-docs__item__num">РОСС RU.АЮ62.Н00449</div>
				</li>
			</ul>
			<div class="b-product__info__files__downloads b-downloads">
				<h3>Файлы для скачивания</h3>
				
				<a href="" target="_blank" class="b-downloads__item">
					<span class="b-downloads__item__ext">pdf</span>
					<span class="b-downloads__item__size">63 Мб</span>
				</a>
				
				<a href="" target="_blank" class="b-downloads__item">
					<span class="b-downloads__item__ext">wrd</span>
					<span class="b-downloads__item__size">63 Мб</span>
				</a>
				
				<a href="" target="_blank" class="b-downloads__item">
					<span class="b-downloads__item__ext">EXLs</span>
					<span class="b-downloads__item__size">63 Мб</span>
				</a>
				
				<a href="" target="_blank" class="b-downloads__item">
					<span class="b-downloads__item__ext">jpeg</span>
					<span class="b-downloads__item__size">63 Мб</span>
				</a>
			</div>
		</div>
	</div>

	<div class="b-grid b-product__text">
		
		<div class="b-grid__column b-product__text__phone">
			<div class="b-phone-icon b-icon"></div>
			<div class="b-phone">(495) 961 80 46</div>
			Понедельник — Пятница<br />с 10:00 до 17:00
		</div>
		
		<div class="b-grid__column b-grid__column__size_2">
			<h2>Назначение</h2>
			<p>Готовый к применению состав для изоляции мест подверженных увлажнению, перед укладкой облицовочной плитки, изоляции гипсокартонных и гипсовых оснований. После высыхания гидроизоляция образует гибкую водонепроницаемую, пароизолирующую пленку с высокой адгезией к строительным материалам на основе бетона, извести, цемента, гипса, гипсокартона, кирпича, камня, дерева, полиуретана, пенопласта.<br />
Гидроизоляция изготовлена на основе модифицированной латексом водной эмульсии битума. Не содержит органических растворителей. Устойчива к температурным воздействиям в диапазоне температур от -40°С до +100°С. <br />
Не горюча. Биостойка.</p>
			<br />
			<h2>Норма расхода</h2>
			<p>Готовый к применению состав для изоляции мест подверженных увлажнению, перед укладкой облицовочной плитки, изоляции гипсокартонных и гипсовых оснований. После высыхания гидроизоляция образует гибкую водонепроницаемую, пароизолирующую пленку с высокой адгезией к строительным материалам на основе бетона, извести, цемента, гипса, гипсокартона, кирпича, камня, дерева, полиуретана, пенопласта.<br />
Гидроизоляция изготовлена на основе модифицированной латексом водной эмульсии битума. Не содержит органических растворителей. Устойчива к температурным воздействиям в диапазоне температур от -40°С до +100°С. <br />
Не горюча. Биостойка.</p>
		</div>
		
		<div class="b-grid__column b-grid__column__size_2">
			<h2>Нанесение</h2>
			<p>Гидроизоляция готова к применению. Состав перед применением обязательно перемешать строительным миксером на малых оборотах.<br />
Нанесение и сушку проводить при температуре воздуха, и основания не ниже +5°С.</p>

			<h4>Подготовка основания</h4>
			<p>Основание должно быть ровным, твердым, чистым, обеспыленным и обезжиренным.</p>
			
			<h4>Нанесение</h4>
			<p>Перед нанесением перемешать, слегка смочить валик или кисть, замазать трещины и стыки. Наносить кистью или валиком как минимум в два слоя с прокладкой между слоями гидроизоляционной ленты Flächenband в местах сопряжений и углов. Интервал между нанесением слоев – не менее 3 часов. Перед нанесением каждого следующего слоя состава, убедитесь, что предыдущий слой высох настолько, что при легком прикосновении к нему, не прилипает к пальцам рук.</p>
			<p>Время полного высыхания зависит от температуры и влажности воздуха, интенсивности воздухообмена вблизи покрытия, и, как правило, колеблется от 6 часов до 2 суток. В холодных и влажных условиях время высыхания увеличивается. </p>
			<p>Укладка облицовочной плитки на гидроизоляцию должна осуществляться водостойким клеем. Дисперсионный клей не пригоден (плитка плавает).</p>
			
			<div class="b-info">
				<div class="b-icon b-info-icon"></div>
				<p>Прежде, чем приступить к масштабным работам, отработайте технологию на небольшом участке поверхности.</p>
			</div>
		</div>
		
		<div class="b-grid__column b-grid__column__size_4">
			<div class="b-product__properties"> 	 
				<h2>Основные физико-механические свойства</h2>
				 <table class="b-product__properties__table">
					<colgroup>
						<col class="b-product__properties__name-col">
						<col class="b-product__properties__condition-col">
						<col class="b-product__properties__amount-col">
					</colgroup>
				  <tbody>
					<tr>
					  <td>Условная прочность</td>
					  <td></td>
					  <td><span class="b-product__properties__num">0,78 (8,0)</span> МПа (кгс/см²)</td>
					</tr>
					<tr>
					  <td>Относительное удлинение при разрыве</td>
					  <td></td>
					  <td><span class="b-product__properties__num">140</span> %</td>
					</tr>
					<tr>
					  <td>Водопоглощение в течение 24 ч.</td>
					  <td></td>
					  <td><span class="b-product__properties__num">1,2</span> % по массе</td>
					</tr>
					<tr>
					  <td>Условная вязкость</td>
					  <td></td>
					  <td><span class="b-product__properties__num">16</span> секунд</td>
					</tr>
					<tr>
					  <td>Массовая доля нелетучих веществ</td>
					  <td></td>
					  <td><span class="b-product__properties__num">50</span> %</td>
					</tr>
					<tr>
					  <td>Прочность сцепления с бетоном</td>
					  <td></td>
					  <td><span class="b-product__properties__num">0,56 (5,7)</span> МПа (кгс/см²)</td>
					</tr>
					<tr>
					  <td>Сопротивление паропроницанию</td>
					  <td></td>
					  <td><span class="b-product__properties__num">8,5</span> м²*ч*Па/мг</td>
					</tr>
					<tr>
					  <td>Гибкость на брусе с закруглением 5,0 мм, при температуре</td>
					  <td>не выше</td>
					  <td><span class="b-product__properties__num">-15</span> °С</td>
					</tr>
					<tr>
					  <td>Температура размягчения</td>
					  <td></td>
					  <td><span class="b-product__properties__num">100</span> °С</td>
					</tr>
				  </tbody>
				</table>
			</div>
		</div>
		
	</div>

</div>