<link rel="stylesheet" type="text/css" href="/components/production.group/style.css" />

<div class="b-production-group">
	<div class="b-grid b-production-group-intro">
		<div class="b-grid__column b-grid__column__size_2">
			<p class="b-intro">Битумные гидроизоляционные мастики</p>
		</div>
		
		<div class="i-clearfix"></div>
		
		<div class="b-grid__column">
			Для защиты зданий и сооружений от вредного воздействия наружных и грунтовых вод требуются не только инженерные решения для их отвода, но также надежная антифильтрационная гидроизоляция.
		</div>
		<div class="b-grid__column">
			Гидроизоляция фундамента, подвала, включающая в себя наружные работы по стенам и полу, успешно осуществляется с использованием резино-битумных, битумных и битумно-полимерных мастик. 
		</div>
		<div class="b-grid__column">
			При этом гидроизоляция фундамента и стен может быть создана окрасочным способом (2-3 слоя мастики, толщина которых составляет около 2 мм) с армированием стеклосеткой.
		</div>
		<div class="b-grid__column">
			Гидроизоляция подвала и фундамента также может осуществляться при помощи рулонных гидроизоляционных материалов. Однако в этом случае для герметизации стыков, переходов и сопряжений необходима битумная мастика.
		</div>
		<div class="b-grid__column">
			Не стоит забывать еще и о том, что наружная гидроизоляция подвальных стен требует дополнительной защиты от механических воздействий.
		</div>
	</div>
	
	<div class="b-production-group-block" style="background-color: #2f2a27;">
		<div class="b-production-group-block__item i-size_2x1">
			<div class="i-relative">
				<div class="b-production-group-block__item__pointer b-pointer-top-left" style="border-top-color: #2f2a27;"></div>
			</div>
			<div class="b-production-group-block__item__content">
				<h2><a href="/production/group/product/">Мастика битумная МГХ-Г</a></h2>
				<p style="color: #cccccc;">Материал для проведения работ по гидроизоляции железобетонных, бетонных и деревянных строительных конструкций, которые подвержены тепловому воздействию не более +70 °С (<a href="">гидроизоляция подвалов</a>, фундаментов, наружная гидроизоляция цоколя здания и т. д.), а также для приклеивания различных стройматериалов.</p>
			</div>
		</div>
		<div class="b-production-group-block__item i-size_1x1">
			<a href="/production/group/product/"><img src="/upload/production/example.jpg" width="210" height="200" alt=""></a>
		</div>
	</div>
	
	<div class="b-production-group-block" style="background-color: #1468c0;">
		<div class="b-production-group-block__item i-size_2x1">
			<div class="i-relative">
				<div class="b-production-group-block__item__pointer b-pointer-top-left" style="border-top-color: #1468c0;"></div>
			</div>
			<div class="b-production-group-block__item__content">
				<h2><a href="/production/group/product/">Мастика битумная МГХ-Г</a></h2>
				<p style="color: #badafc;">Практичный и надежный материал с высокими показателями адгезии, температуры размягчения и условной прочности. Деформация разрушения при растяжении составляет 300 %. Основное предназначение мастики МГХ-К — наружная гидроизоляция (кровли, стен, фундамента и подвала), а также герметизация стыков, переходов и сопряженных элементов конструкции.</p>
			</div>
		</div>
		<div class="b-production-group-block__item i-size_1x1">
			<a href="/production/group/product/"><img src="/upload/production/example.jpg" width="210" height="200" alt=""></a>
		</div>
	</div>
	
	<div class="b-production-group-block" style="background-color: #278bbf;">
		<div class="b-production-group-block__item i-size_2x1">
			<div class="i-relative">
				<div class="b-production-group-block__item__pointer b-pointer-top-left" style="border-top-color: #278bbf;"></div>
			</div>
			<div class="b-production-group-block__item__content">
				<h2><a href="/production/group/product/">Мастика битумная МГХ-Г</a></h2>
				<p style="color: #c7e8f9;">Эластичный герметик на основе нестареющей уплотняющей массы из модифицированного битума.</p>
			</div>
		</div>
		<div class="b-production-group-block__item i-size_1x1">
			<a href="/production/group/product/"><img src="/upload/production/example.jpg" width="210" height="200" alt=""></a>
		</div>
	</div>
	
	<div class="b-production-group-block" style="background-color: #80c0cc;">
		<div class="b-production-group-block__item i-size_2x1">
			<div class="i-relative">
				<div class="b-production-group-block__item__pointer b-pointer-top-left" style="border-top-color: #80c0cc;"></div>
			</div>
			<div class="b-production-group-block__item__content">
				<h2><a href="/production/group/product/">Битумно-полимерная мастика МЭБИС</a></h2>
				<p style="color: #e2faff;">Битумно-полимерная мастика МЭБИС</p>
			</div>
		</div>
		<div class="b-production-group-block__item i-size_1x1">
			<a href="/production/group/product/"><img src="/upload/production/example.jpg" width="210" height="200" alt=""></a>
		</div>
	</div>
	
	<div class="b-production-group-block" style="background-color: #6176a1;">
		<div class="b-production-group-block__item i-size_2x1">
			<div class="i-relative">
				<div class="b-production-group-block__item__pointer b-pointer-top-left" style="border-top-color: #6176a1;"></div>
			</div>
			<div class="b-production-group-block__item__content">
				<h2><a href="/production/group/product/">Битумный праймер Грида</a></h2>
				<p style="color: #d3ddf3;">Праймер битумный «Грида», произведенный на основе органического растворителя, хорошо смачивает поверхность бетона, кирпича, металла, дерева и многих минеральных материалов. В составе содержит добавки поверхностно-активных веществ, а также ингибитор коррозии. Проникая в поры и трещины, легко смачивает и связывает присутствующие инородные частицы....</p>
			</div>
		</div>
		<div class="b-production-group-block__item i-size_1x1">
			<a href="/production/group/product/"><img src="/upload/production/example.jpg" width="210" height="200" alt=""></a>
		</div>
	</div>
	
	<div class="b-production-group-block" style="background-color: #d4d5da;">
		<div class="b-production-group-block__item i-size_2x1">
			<div class="i-relative">
				<div class="b-production-group-block__item__pointer b-pointer-top-left" style="border-top-color: #d4d5da;"></div>
			</div>
			<div class="b-production-group-block__item__content">
				<h2><a href="/production/group/product/" style="color: #333333;">Битумный праймер Грида</a></h2>
				<p style="color: #6d6d6e;">Праймер битумный «Грида», произведенный на основе органического растворителя, хорошо смачивает поверхность бетона, кирпича, металла, дерева и многих минеральных материалов. В составе содержит добавки поверхностно-активных веществ, а также ингибитор коррозии. Проникая в поры и трещины, легко смачивает и связывает присутствующие инородные частицы....</p>
			</div>
		</div>
		<div class="b-production-group-block__item i-size_1x1">
			<a href="/production/group/product/"><img src="/upload/production/example.jpg" width="210" height="200" alt=""></a>
		</div>
	</div>
</div>