<link rel="stylesheet" type="text/css" href="/components/about.news/style.css" />

<!--#if expr="$page='about_news'" -->
<div class="b-grid b-grid__size_4 b-news">
	<div class="b-grid__column__size_3 b-news__item">
		<div class="b-intro">
			<div class="b-news__item__date b-date">25 февраля 2010</div>
			<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
			<div class="b-news__item__text">С 1 ноября 2012 произошли изменения в весе нетто и таре фасуемой продукции. 
Мы модернизировали производство и установили полностью автоматизированную линию фасовки битумных мастик!</div>
		</div>
	</div>
	<div class="b-grid__column b-news__item">
		<div class="b-news__item__date b-date">25 февраля 2010</div>
		<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
		<div class="b-news__item__text">Оттепель — снижение цены на битумный праймер Грида с 1 марта 2010 года.</div>
	</div>
	<div class="b-grid__column b-news__item">
		<div class="b-news__item__date b-date">25 февраля 2010</div>
		<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
		<div class="b-news__item__text">Оттепель — снижение цены на битумный праймер Грида с 1 марта 2010 года.</div>
	</div>
	<div class="b-grid__column b-news__item">
		<div class="b-news__item__date b-date">25 февраля 2010</div>
		<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
		<div class="b-news__item__text">Оттепель — снижение цены на битумный праймер Грида с 1 марта 2010 года.</div>
	</div>
	<div class="b-grid__column b-news__item">
		<div class="b-news__item__date b-date">25 февраля 2010</div>
		<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
		<div class="b-news__item__text">Оттепель — снижение цены на битумный праймер Грида с 1 марта 2010 года.</div>
	</div>
	
	<div class="i-clearfix"></div>
	
	<div class="b-grid__column b-news__item">
		<div class="b-news__item__date b-date">25 февраля 2010</div>
		<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
		<div class="b-news__item__text">Оттепель — снижение цены на битумный праймер Грида с 1 марта 2010 года.</div>
	</div>
	<div class="b-grid__column b-news__item">
		<div class="b-news__item__date b-date">25 февраля 2010</div>
		<h2 class="b-news__item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h2>
		<div class="b-news__item__text">Оттепель — снижение цены на битумный праймер Грида с 1 марта 2010 года.</div>
	</div>
</div>

<!--#include virtual="/blocks/paginator.html"-->

<!--#elif expr="$page='about_news_item'" -->
	
	<div class="b-grid__column__size_3 b-news-item">
		<div class="b-news-item__date b-date">25 февраля 2010</div>
		<h1 class="b-news-item__title"><a href="/about/news/item/">Изменения фасовки битумных мастик</a></h1>
		<div class="b-news-item__text">
			<p class="b-strong">С 1 декабря 2012 битумные мастики марок МГХ-Г, МГХ-Т и МГХ-К фасуются:</p>
			<ul>
				<li>в Евроведро емкостью 20 л, по 20 кг, на упаковке указан вес нетто 20 кг.</li>
				<li>в Евроведро емкостью 3 л, по 3 кг, на упаковке указан вес нетто 3 кг.</li>
			</ul>
			
			<img src="/upload/news-item.jpg" width="608" alt="" />
		</div>
		<div class="b-news-item__back-button">
			<a href="/about/news/" class="b-button">Пресс-релизы</a>
		</div>
	</div>
	
<!--#endif -->